
    #typography{
        display: flex;
        color: black;
        justify-content: center;
       align-items:center;
       height: auto;
       flex-direction: row;
        flex-wrap: wrap;
        padding: 20px;
        background-color:rgb(244, 239, 241);
    }
    .co{
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-style: normal;
        line-height: 1.5;
        text-align: center;
        padding: 10px;
    }
    .h1{
        font-size: 30px;
        font-weight: bold;
       margin-bottom: 10px;
        padding:10px ;
        text-align: center;
        background-color:rgb(141, 109, 125);
        
    }
    .nv{
        width: 99%;
        text-align: left;
        font-weight:lighter;
        font-size: 25px;
        align-self: flex-start;
        background-color:rgb(141, 109, 125) ;
        padding: 10px;
    }
    .h2{
        width: 100%;
        background-color:rgb(209, 203, 205);
        font-size:20px;
        padding:10px ;
        text-align:left; 
        border-radius: 8%;
    }
    button{

        border-radius: 8px;
        line-height: 1.8;
        background-color:rgb(90,63,75) ;
        width: bold;
    }
    button:hover{
       background-color: rgb(209, 203, 205);
    }
    a:hover{
        color: rgb(209, 203, 205);
     }
     
    a{text-decoration: none;
     color:black
     
     }
    footer{
        line-height: 1.5;
        text-align: left;
        padding: 30px;
        background-color: rgb(141, 109, 125);
    }
    @media(min-width:600px){
        #typography{
           width: 100%;
            background-color: rgb(141, 109, 125);;
        }}
    @media(min-width:600px)and(max-width:768px){
        #typography{
       width: 100%;
        background-color: rgb(141, 109, 125);;
    }}
    @media(min-width:768px)and(max-width:1024px){
        #typography{
       width: 100%;
        background-color: rgb(141, 109, 125);;
    }}
    @media(min-width:1024px){
        #typography{
           width: 100%;
            background-color: rgb(141, 109, 125);
        }}